[user]
	email = archaicdust@gmail.com
	name = ming
[gui]
	spellingdictionary = none
	fontui = -family \"Droid Sans\" -size 14 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Droid Sans\" -size 14 -weight normal -slant roman -underline 0 -overstrike 0
[color]
	ui = true
[core]
	editor = vim
	pager = less -R
[diff]
	submodule = log
[status]
	submodulesummary = 1
	showuntrackedfiles = no
[alias]
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	whatsup = log --all --decorate --oneline --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
        today = !git whatsup --since="yesterday"
	week = !git whatsup --since="1.weeks"
[commit]
	template = ~/.git-commit-template.txt
